<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
		<script type="module" src="{{ url_for('static', path='/main.js') }}"></script>
	</head>
	<body>
		<div>
			<canvas id="canvas" width="613" height="613">
			</canvas>

			<button id='clear_button'>Clear!</button>
		</div>

		<div>
			<div>
				<pre id="guesses"></pre>
			<div>

			<div>
				<form id="guess_form">
					<input id="guess_input"></input>
				</form>
			</div>
		</div>
	</body>
</html>
